@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

html {
  scroll-behavior: smooth;
}

/* General */
.lrg-text {
  font-family: "Oswald", sans-serif;
  font-size: 6rem;
}
.med-text {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
}
.sml-text {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}
.hide {
  display: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
.theme-1 {
  background: #ff5851 !important;
}
.btn {
  cursor: pointer;
  padding: 0.5em;
  margin-right: 1em;
  background-color: #f8f8f8;
  border: solid #ff5851 2px;
  border-radius: 3px;
  transition: background-color 0.5s;
}
.btn:hover {
  background-color: #ff5851;
}

/* App */
body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  height: 100vh;
  padding: 0 2em 0 2em;
}

/* Parallax */
.parallax-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* parallax property */
  background-attachment: fixed;
}

