@font-face {
  font-family:"Oswald-Medium";
  src: url("./components/stylesheets/Fonts/Oswald-Medium.ttf") format("truetype");
}
@font-face {
  font-family:"Lato";
  src: url("./components/stylesheets/Fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family:"Ubuntu";
  src: url("./components/stylesheets/Fonts/Ubuntu-Regular.ttf") format("truetype");
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* General */
.lrg-text {
  font-family: "Oswald-Medium", sans-serif;
  font-size: 6rem;
  color: #1c1b20;
}
.med-text {
  font-family: "Oswald-Medium", sans-serif;
  font-size: 2rem;
  color: #1c1b20;
}
.sml-text {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #606060;
}
.hide {
  display: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
.btn-group {
  margin-top: 0.5em;
}
.btn {
  cursor: pointer;
  padding: 0.5em 0.5em 0.2em;
  margin-right: 1em;
  background-color: #f8f8f8;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: bold;
  border-bottom: solid #1c1b20 2px;
  border-radius: 2px;
  transition: all 0.5s;
}
.btn:hover {
  color: #ff5851;
  border-bottom: solid #ff5851 2px;
}

/* App */
body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  height: 100vh;
  padding: 0 2em 0 2em;
}

/* Parallax */
.parallax-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* parallax property */
  background-attachment: fixed;
}

/*Phone*/
#phone-portrait {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  z-index: 24000;
}
#phone-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
#phone-image {
  background: url('./media/phone.png') center no-repeat;
  width: 50px;
  height: 100px;
  background-size: contain;
}