@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

/* General */
.lrg-text {
  font-family: "Oswald", sans-serif;
  font-size: 6rem;
}
.med-text {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
}
.sml-text {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}
.hide {
  display: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
.theme-1 {
  background: #ff5851 !important;
}

/* App */
body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  height: 100vh;
  padding: 0 2em 0 2em;
}

/* Layout */
#navbar-container {
  position: fixed;
  height: 2em;
  width: 100vw;
  background-color: white;
  z-index: 100;
}
#navbar-brand {
  padding-top: 0.5em;
  font-weight: bold;
  color: #1c1b20;
}
#navbar-toggle {
  position: fixed;
  top: 50%;
  left: 2%;
  transform: rotate(-90deg);
  cursor: pointer;
  padding: 1em;
}
#sidebar-container {
  position: fixed;
  height: 100vh;
  width: 2em;
  background-color: white;
  z-index: 99;
  left: 0;
  transition: width 0.5s;
}
#sidebar-container:hover {
  width: 5em;
}
#navbar-menu {
  position: relative;
  top: 5em;
  left: 7em;
}
#navbar-list {
  list-style: none;
  line-height: 3;
}

/* Intro */
#intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(255, 88, 81, 1) 50%,
    rgba(248, 248, 248, 1) 50%
  );
}
#intro-text {
  font-family: "Oswald", sans-serif;
  color: #1c1b20;
  font-size: 10rem;
  word-wrap: break-word;
  width: 2.1em;
  line-height: 1;
}

/* Parallax */
.parallax-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* parallax property */
  background-attachment: fixed;
}
#pic-1 {
  background-image: url("./media/home-1.jpg");
  height: 100vh;
}

/* Main */
#sec-A #flex {
  display: flex;
  justify-content: space-between;
}
#main {
  background-color: #f8f8f8;
  height: 400vh;
  padding: 10vw 0 0 12vw;
}
#heading-1 {
  color: #ff5851;
  display: inline-block;
  width: 4em;
  padding: 0 0 1em 0;
  word-wrap: break-word;
  line-height: 1;
}
#subheading-1 {
  width: 10em;
  word-wrap: break-word;
  line-height: 1;
  color: #1c1b20;
}
#text-1 {
  padding: 3em 0;
  color: grey;
  width: 18em;
  word-wrap: break-word;
  line-height: 1.2;
}
#sidetext-1 {
  position: relative;
  top: -10em;
  width: 30em;
  height: 92%;
  background-color: #1c1b20;
  color: white;
  padding: 3em;
  line-height: 3;
  display: flex;
  align-items: center;
}
#sec-B {
  margin: 15em 0;
}
#sec-B #flex {
  display: flex;
  justify-content: flex-start;
}
#heading-2 {
  color: #1c1b20;
  display: inline-block;
  width: 6em;
  padding: 0 0 1em 0;
  word-wrap: break-word;
  line-height: 1;
}
#pic-2 {
  background-image: url("./media/home-2.jpg");
  width: 32em;
  height: 18em;
  position: relative;
  left: -12vw;
}

/* footer */
#foot-container {
  position: fixed;
  height: 2em;
  width: 100vw;
  background-color: white;
  z-index: 100;
  bottom: 0;
}
